header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

nav li{
    list-style-type: none;
    display: inline-block;
    padding: 1rem;
}

.header-imag-container {
    width: 4rem;
}

header img{
    max-width: 100%;
}

.nav-menu a{
    text-decoration: none;
    color: black;
    
    font-size: 1.2rem;
}

.nav-menu a:hover{
    color: #FC7E54;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
}